*{
    padding: 0;
    margin: 0;
    font-family: poppins-regular;
}

#root{
    width: 100vw;
    height: 75vh;
    overflow: scroll;
    position: relative;
}

#header{
    width: fit-content;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 120;
    background-color: #f8f9fa;
}

.head-cell:first-child{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #e9e7e9;
    min-width: 41px !important;
}
.head-cell{
    min-width: 200px;
    height: 25px;
    /* border-top-width: 2px; */
    border: 1px solid #dedfde;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#body{
    display: grid;
    grid-template-columns: 42px auto;
}
#sno{
    position: sticky;
    left: 0;
    z-index: 100;
    background-color: #f8f9fa;
}
.sno-cell{
    height: 25px;
    min-width: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dedfde;
}

.row{
    display: flex;
}
.cell{
    height: 25px;
    min-width: 200px;
    border: 0.1px solid #eaeaea;
}
.cell:focus{
    border: none;
    border-radius: 2px;
    outline: 2px solid #1B72E8 !important;
    /* z-index: 130; */
    margin-inline: 2px;
}

#export{
    cursor: pointer;
    font-size: 32px !important;
}